header{
    background-color: rgb(108, 156, 165);
}
body{
    /* Using RGBA Codes */
    background-color: rgba(25, 125, 150, 0.5);
    color: rgba(25, 125, 150, 0.5);
    justify-content: center;
}
h1{
    text-align: center;
    padding: 8px;
}
p{
    padding: auto;
}
footer{
    background-color: rgba(11, 103, 91, 0.845);
}
#ESCAPE_VELOCITY{
    padding: auto;
    color: aqua;
    background-color: aquamarine;
    text-align: right;
}